div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
main:focus, div:focus, article:focus {
	outline: none;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a,input,button {
	transition: all ease-out .3s;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.wrapper {
	max-width: $maxwidth;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.flexwrap {
	@include flexgroup();
}
body {
	font-family: $font_primary;
	font-size: 15px;
	line-height: 1.5;
}
/* Header */
.site-header {
	position: relative;
	z-index: 100;
	.wrapper {
		padding-top: 20px;
	}
	.flexwrap {
		@include flexbox-justify(space-between);
		@include flexbox-align-items(center);
	}
	.topbuttons {
		position: absolute;
		top: 0;
		right: 20px;
		display: inline-block;
		a {
			display: inline-block;
			text-decoration: none;
			background: $primary;
			color: #FFF;
			font-family: $font_secondary;
			font-size: 15px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			padding: 8px 13px 6px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			&:hover {
				background: $secondary;
				box-shadow: 0 2px 8px rgba(0,0,0,0.4);
			}
		}
	}
}
.logo {
	width: 120px;
	position: relative;
	@include xs {
		width: 130px;
		top: 0;
		top: -10px;
	}
	@include tab {
		top: 0;
		width: 150px;
	}
	a,img {
		display: block;
		width: 100%;
		height: auto;
		float: left;
	}
}

/* Navigation */
.main-navigation {
	position: relative;
	width: 100%;
	@include tab {
		width: 70%;
		right: -20px;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	ul.menu {
		display: block;
		width: 100%;
		@include tab {
			display: inline-block;
			float: right;
			width: auto;
		}
	}
	ul.menu > li {
		float: left;
		margin:0 3px;
	}
	ul.menu a {
		display: inline-block;
		text-decoration: none;
		color: $primary;
	}
	ul.menu > li > a {
		font-size: 15px;
		line-height: 1.2;
		padding: 4px 12px;
	}
	ul.menu > li.current_page_item > a,
	ul.menu > li > a:hover {
		color: #FFF;
		background: $primary;
	}
}
body.hasbanner .main-navigation {
	ul.menu > li > a {
		color: #FFF;
	}
}
#overlay {
	display: none;
	background: rgba(0,0,0,.85);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
}
#mobileNav {
	display: none;
	transition: all ease-out .3s;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 3000;
	@include xs {
		right: -350px;
	}
	.main-menu-mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #FFF;
		overflow: auto;
	}
}

.menu-toggle {
	display: block;
	position: absolute;
	top: 10px;
	right: 30px;
	width: 40px;
	height: 50px;
	z-index: 503;
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0 0;
	margin: 0 0;
	@include tab {
		display: none;
	}
	span.bar {
		position: relative;
		top: -3px;
	}
	span.bar, span.bar:before, span.bar:after {
		display: inline-block;
		width: 100%;
		height: 5px;
		transition: all ease-in-out .3s;
		background: $primary;
	}
	span.bar:before, span.bar:after {
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -11px;
	}
	span.bar:after {
		top: 11px;
	}
	&.open {
		span.bar {
			background: transparent;
		}
		span.bar:before {
			transform: translateY(11px) rotate(45deg);
		}
		span.bar:after {
			transform: translateY(-11px) rotate(-45deg);
		}
	}
}

/* Mobile Menu */
@media screen and (max-width: $tabwidth) {
	.site-header {
		.topbuttons {
			right: 100px;
			a {
				padding: 23px 18px 17px;
			}
		} 
	}
	.main-navigation {
		display: none;
	}
	#mobileNav {
		display: block;
		max-width: 350px;
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		li {
			position: relative;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: $primary;
			position: relative;
		} 
		ul#mobile-menu {
			padding-bottom: 50px;
			border-top: 1px solid tint($primary,70%);
		}
		ul.menu a {
			display: block;
			font-size: 1.25rem;
			padding: 0.5em 1.2em;
			border-bottom: 1px solid tint($primary,70%);
		}
		ul.menu > li:hover > a {
			background: tint($primary,85%);
		}
		ul.menu > li.current_page_item > a {
			background: $primary;
			color: #FFF;
		}
		ul#topcustom {
			padding-top: 5px;
		}
		ul#topcustom li.homepage a {
			font-size: 1.85rem;
			border-bottom: none;
			padding: 0.35em 1em;
		}
	}
	
	body.open-menu {
		#overlay {
			display: block;
		}
		#mobileNav {
			right: 0;
			transform: translateX(0);
		}
		.menu-toggle  {
			top: 15px;
			right: 370px;
			transform: scale(0.7);
			span.bar:before, span.bar:after {
				background: #FFF;
			}
		}
	}
}
@media screen and (max-width: $xswidth) {
	#mobileNav {
		max-width: 85%; 
	}
	body.open-menu {
		.menu-toggle  {
			right: 87%;
			transform: scale(0.6);
		}
	}
}


/* Banner */
.banner {
	position: relative;
	width: 100%;
	float: left;
	height: 430px;
	@include xs {
		height: 375px;
	}
	@include tab {
		height: 600px;
	}
	@include mid {
		height: 760px;
	}
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 60%;
		margin-top: -5%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		opacity: 0.5;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	}
	.bimage {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #FFF;
		position: relative;
		width: 100%;
		height: 100%;
		float: left;
	}
	img.placeholder {
		width: 100%;
		height: auto;
		float: left;
	}
	.bcaption {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 15;
		@include flexgroup-center();
		@include flexbox-justify(center);
	}
}
.slideTextContainer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	.inner-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		transition: all ease-out .3s;
		@include flexgroup-center();
		@include flexbox-justify(flex-start);
	}
	.textwrap {
		max-width: 550px;
		width: 100%;
		position: relative;
		padding-bottom: 25px;
		border-bottom: 2px solid $secondary;
		margin-top: 12vh;
		@include tab {
			margin-top: 0;
		}
	}
	.swiper-wrapper, .swiper-slide {
		width: 100%;
		height: 100%;
	}
	.swiper-slide.swiper-slide-active {
		.inner-text {
			opacity: 1;
			visibility: visible;
		}
	}
	.largeTxt,
	.smallTxt { 
		font-family: $font_secondary;
		text-transform: uppercase;
		transition: all ease-out .3s;
	}
	.largeTxt {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.1;
		margin: 0 0 5px;
		color: $primary;
		@include xs {
			font-size: 3em;
		}
		@include tab {
			font-size: 4em;
		}
	}
	.smallTxt {
		font-size: 1.7rem;
		font-weight: 500;
		line-height: 1.2;
		color: #FFF;
		text-shadow: 0 1px 5px rgba(0,0,0,0.2);
		@include xs {
			font-size: 2rem;
		}
		@include tab {
			font-size: 2.6em;
		}
	}
}
.scrolldown {
	position: absolute;
	left: 0;
	bottom: 2vh;
	width: 100%;
	z-index: 15;
	@include tab {
		bottom: 0;
	}
	#scrolldown {
		display: block;
		width: 35px;
		height: 40px;
		text-decoration: none;
		position: relative;
		top: 0;
		left: 10px;
		margin-top: -10%;
		transform: scale(0.75);
		@include tab {
			transform: none;
		}
		span.arrow {
			display: inline-block;
			width: 100%;
			position: relative;
			height: 2px;
			transition: all ease-out .3s;
			&:before, &:after {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				background: $secondary;
			}
			&:before {
				transform: rotate(45deg);
				top: 9px;
				left: -9px;
			}
			&:after {
				transform: rotate(-45deg);
				top: 10px;
				left: 15px;
			}
		}
		&:hover {
			span {
				transform: translateY(12px);
			}
		}
	}
}

body.hasbanner {
	.site-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

/* Body */
.site-content {
	position: relative;
	width: 100%;
	float: left;
}
.ctadiv {
	margin-top: 20px;
}
.btn-default {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: $primary;
	font-size: 15px;
	line-height: 1.1;
	padding: 10px 20px;
	border-radius: 4px;
	color: #FFF;
	&:hover {
		background: $secondary;
		box-shadow: 0 0 8px rgba(0,0,0,0.45);
	}
}
.row2 {
	position: relative;
	z-index: 5;
	overflow: hidden;
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.85);
		position: absolute;
		top: 0;
		left: 0;
		@include tab {
			background: rgba(255,255,255,.75);
		}
	}
	.wrapper {
		padding-top: 40px;
		padding-bottom: 80px;
		z-index: 15;
		@include tab {
			padding-top: 60px;
			padding-bottom: 100px;
		}
	}
	.flexwrap {
		margin-left: -30px;
		margin-right: -30px;
	}
	.fcol {
		width: 100%;
		padding:20px 30px;
		position: relative;
		p {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
		p:last-child {
			margin-bottom: 0;
		}
		.txt1 {
			font-family: $font_secondary;
			font-size: 2.2em;
			line-height: 1.2;
			text-transform: uppercase;
			color: $primary;
		}
		.txt2 {
			
		}
	}
	&.half {
		.fcol {
			@include tab {
				width: 50%;
			}
		}
	}
	.bg {
		background-size: 70%;
		background-attachment: scroll;
		background-position: bottom right;
		background-repeat: no-repeat;
		background-color: #FFF;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: rgba(255,255,255,.85);
		}
	}
	.bottom-arrow {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40px;
		z-index: 16;
		overflow: hidden;
		&:before,
		&:after {
			content:"";
			display: block;
			width: 61.5%;
			height: 100%;
			position: absolute;
			top: 0;
			background: #eef0f1;
		}
		&:before {
			left: -12%;
			transform: skew(45deg);
		}
		&:after {
			right: -12%;
			transform: skew(-45deg);
		}
	}
}
.stitle {
	font-family: $font_secondary;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
	color: $primary;
	margin: 40px 0 40px;
	b {
		font-size: .9em;
	}
}

.row3 {
	background: $gray;
	padding-top: 50px;
	padding-bottom: 80px;
	position: relative;
	z-index: 30;
	.flexwrap {
		margin-left: -15px;
		margin-right: -15px;
		@include flexbox-justify(center);
	}
	.box {
		padding: 20px 15px;
		width: 100%;
		@include xs {
			width: 50%;
		}
		@include tab {
			width: 25%;
		}
		.inside {
			display: block;
			text-decoration: none;
			background-size: cover;
			background-color: #FFF;
			background-position: top center;
			background-repeat: no-repeat;
			box-shadow: 0 4px 15px rgba(0,0,0,0.25);
			position: relative;
			width: 100%;
			float: left;
			color: $primary;
			&:before, &:after {
				transition: all ease-out .3s;
				content:"";
				display: block;
				width: 100%;
				position: absolute;
				left: 0;
			}
			&:before {
				height: 100%;
				background: rgba(255,255,255,.75);
				top: 0;
			}
			&:after {
				height: 90%;
				bottom: 0;
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
			}
			.text {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 15px;
				z-index: 5;
				// background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				// background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				// background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				
				font-size: 13px;
				line-height: 1.4;
				h3.title {
					margin: 0 0 10px;
					font-family: $font_secondary;
					font-size: 2em;
					font-weight: 400;
					line-height: 1.2;
					text-transform: uppercase;
				}
			}
			&:hover {
				transform: translateY(-12px);
				box-shadow: 0 15px 30px rgba(0,0,0,.35);
				&:before {
					background: tint($secondary,20%);
					z-index: 20;
					opacity: 0.95;
				}
				.text {
					z-index: 25;
					color: #FFF;
					background: transparent;
					h3 {
						color: #FFF;
					}
				}
			}
		}
	}
	img.placeholder {
		width: 100%;
		height: auto;
		float: left;
	}
	.ctadiv {
		margin-top: 30px;
		@include tab {
			margin-top: 50px;
		}
	}
}
.row4 {
	.flexwrap {
		margin-left: -30px;
		margin-right: -30px;
	}
	.fcol {
		width: 100%;
		padding:20px 30px;
		position: relative;
		@include flexgroup-center();
		@include flexbox-align-content(center);
		&.image {
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
		}
		img.placeholder {
			width: 100%;
			height: auto;
			float: left;
		}
		.wrap {
			width: 100%;
		}
	}
	&.half {
		.fcol {
			width: 100%;
			@include tab {
				width: 50%;
			}
		}
	}
	.stitle {
		margin: 0 0 5px;
	}
	.ctadiv {
		margin-top: 10px;
	}
}
h1.entry-title {
	font-family: $font_secondary;
	font-size: 3em;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 30px;
	color: $primary;
	text-transform: uppercase;
}
.content-area.default {
	.site-main {
		padding-top: 50px;
		height: 35em;
	}
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.parallax-mirror {
	@include tab {
		width: 80%!important;
		left: 20%!important;
	}
}

/* Footer */
.site-footer {
	background: $primary;
	color: #FFF;
	font-size: 13px;
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	.footer-content {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		@include mid {
			max-width: $maxwidth;
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
	}
	.flexwrap {
		@include flexbox-justify(center);
	}
	.footcolums {
		@include flexgroup-center();
		@include flexbox-align-items(flex-start);
		// @include flexbox-justify(center);
		@include mid {
			@include flexbox();
			@include flexbox-wrap(unset);
			@include flexbox-direction(unset);
		}
		.info.other {
			p {
				margin-top:0;
				margin-bottom: 10px;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	.footcol {
		width: 100%;
		padding: 20px 10px;
		text-align: center;
		@include flexgroup-center();
		@include flexbox-justify(center);
		@include tab {
			text-align: left;
			width: 30%;
		}
		@include mid {
			width: auto;
			padding-left: 20px;
			padding-right: 20px;
		}
		.inner {
			width: 100%;
		}
		&.fcol1,&.fcol2 {
			margin-right: 0;
			@include mid {
				margin-right: 30px;
			}
		}

	}
	.footlogo {
		width: 110px;
		height: auto;
		margin-bottom: 15px;
		position: relative;
	}
}
.footer-menu-wrap {
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		ul {
			display: none;
		}
	}
	ul.menu {
		display: block;
		width: 100%;
	}
	a {
		color: #FFF;
		text-decoration: none;
	}
}

.footlogos {
	text-align: center;
	a {
		display: inline-block;
	}
	img {
		width: 95px;
		height: auto;
	}
}

.social-media {
	text-align: center;
	a {
		display: inline-block;
		text-decoration: none;
		padding: 0;
		background: #FFF;
		color: $primary;
		width: 24px;
		height: 24px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		border-radius: 2px;
		margin: 5px;
	}
}

@media screen and (max-width: 782px) {
	body.logged-in.admin-bar {
		#mobileNav .main-menu-mobile {
			padding-top:45px;
		}
	}
}

